.form-checkbox{
    height: 20px;
}
textarea.form-control{
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
}

textarea.form-control:focus, textarea.form-control:active{
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;

}
